:root {
    --background: #ffffff;
    --foreground: #171717;
    --primary-color: #000; /* tähän meidän pääväri */
    --secondary-color: #fff; /* tähän meidän toinen väri */
    --font-family: 'Arial', 'sans-serif';
    --heading-font-size: 2em;
    --paragraph-font-size: 1em;
    --line-height: 1.6;
}
  
/*  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--primary-color);
    line-height: var(--line-height);
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;

    a {
        color: var(--foreground);
        font-weight: bold;
        margin-right: 1em;
        margin-left: 1em;
        text-decoration: unset;
    }

    a:hover {
        text-decoration: underline;
    }
}